div.inner_cell {
  min-width: 0;
  /* Old browsers */
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: none;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: none;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: none;
  flex-direction: column;
  align-items: stretch;
  /* Old browsers */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /* Modern browsers */
  flex: 1;
}

.prompt {
  display: none;
}
